body{
  font-size: clamp(10px, 62.5px,70px  )
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.overlay-gradient {
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
}
